/* здесь используйте глобальные переменные */
/* Fonts */
$basic-font: "Montserrat", "Arial", sans-serif;
$basic-font-bold: "Montserrat-bold", "Arial", sans-serif;

/* width screen */
$tablet-width: 768px;
$desktope-width: 1440px;

/* Base colors */
$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;

/* Alt colors */
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;

/* Background colors */
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
