.burger-menu {
  @include button-reset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-flex;
    width: 16px;
    height: 2px;
    background-color: $base-black;
  }

  &::before {
    bottom: 24px;
    box-shadow: 0 -5px $base-black;
  }

  &::after {
    top: 24px;
  }

  &--opened {
    &::after {
      transform: translateY(5px) rotate(-45deg);
    }

    &::before {
      box-shadow: none;
      transform: translateY(-5px) rotate(45deg);
    }
  }

  &:active {
    background-color: $base-secondary;
  }
}
